*, *::before, *::after{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #FFFBF5;
  font-family: 'Montserrat', sans-serif;
}